.category-slide {
  display: flex;
  overflow: auto;
}

.card {
  display: flex;
  flex-direction: row;
  width: 150px !important;
  height: 65px;
}

.card-body {
  background-size: contain;
}

.image-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
