.in-stock {
  background-color: rgb(79, 207, 100) !important;
  align-content: center;
  align-items: center;
  border: none;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 40px;
}
.add-to-cart {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  font-weight: 500;
  width: 145px;
}

.product-title {
  color: black !important;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.prev-price {
  text-decoration: line-through;
}

.product-price {
  padding: 2px;
  align-content: initial;
}

.product-info {
  align-content: center;
  padding: 6px;
}

.rating {
  color: gray;
  float: right;
}
.out-stock {
  background-color: grey !important;
  align-content: center;
  align-items: center;
  border: none;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 40px;
}

.out-of-stock {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  font-weight: 500;
  width: 145px;
}

.product-weight {
  color: gray;
}
